<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wafflestudio.snuday">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SnudayApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_snuday"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_snuday_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.entry.SignUpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.RootActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.entry.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>